.about{
    margin-left: 10px;
}
.about h1 {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.about h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(244, 229, 64);
    position: absolute;
    left: 0;
    bottom: -5px;
}
.about-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about-details div p{
    display: flex;
    align-items: center;
}

@media screen and (max-width:769px) {
    .about-details{
        display: flex;
        flex-direction: column;
    }
}