.internship{
    margin-left: 10px;
}

.internship h1 {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.internship h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(244, 229, 64);
    position: absolute;
    left: 0;
    bottom: -5px;
}

ul li{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 769px) {
    ul li{
        display: block;
    }
}